[Desktop Entry]
Type=Application
Name=OpenScan
GenericName=3D scanner
Comment=Personal scanner for a USB camera pair.
Exec=openscan
Icon=openscan
Terminal=false
Categories=Graphics;3DGraphics;
StartupWMClass=openscan
